<?xml version="1.0" encoding="utf-8"?>
<nlog throwConfigExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target xsi:type="AsyncWrapper" name="asyncColoredConsole" overflowAction="Block">
      <target xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false" layout="${longdate} ${message}">
        <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" />
        <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
        <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      </target>
    </target>
    <target xsi:type="AsyncWrapper" name="asyncJsonFile" overflowAction="Block">
      <target xsi:type="File" name="json" fileName="C:\Logs\${processname}\json\${processname}.jsonlog" archiveFileName="C:\Logs\${processname}\json\${processname}.{##}.jsonlog" archiveNumbering="Rolling" archiveAboveSize="50000000" maxArchiveFiles="99" keepFileOpen="true">
        <layout xsi:type="JsonLayout" includeMdlc="true">
          <attribute name="DateTime" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}" />
          <attribute name="Level" layout="${level:upperCase=true}" />
          <attribute name="AppVersion" layout="${assembly-version}" />
          <attribute name="ThreadId" layout="${threadid}" />
          <attribute name="Logger" layout="${logger:shortName=true}" />
          <attribute name="Message" layout="${message}" />
          <attribute name="StackTrace" layout="${exception:format=ToString}" />
        </layout>
      </target>
    </target>
    <target xsi:type="AsyncWrapper" name="asyncTextFile" overflowAction="Block">
      <target xsi:type="File" name="txt" fileName="C:\Logs\${processname}\txt\${processname}.txtlog" archiveFileName="C:\Logs\${processname}\txt\${processname}.{##}.txtlog" archiveNumbering="Rolling" archiveAboveSize="50000000" maxArchiveFiles="99" keepFileOpen="true" layout="${longdate} ${uppercase:${level:padding=8}} ${threadid:padding=3} ${message} ${onexception:${newline} ${exception:format=toString}}" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="asyncColoredConsole" />
    <logger name="*" minlevel="Debug" writeTo="asyncJsonFile" />
    <logger name="*" minlevel="Debug" writeTo="asyncTextFile" />
  </rules>
</nlog>