
.vs
packages
AutoChart.Common/bin
AutoChart.Common/obj
AutoChart.Common/AutoChart.Common.csproj.user
AutoChart.FrameExtractor/bin
AutoChart.FrameExtractor/obj
AutoChart.FrameExtractor/AutoChart.FrameExtractor.csproj.user
AutoChart.FeatureDetector/bin
AutoChart.FeatureDetector/obj
AutoChart.FeatureDetector/AutoChart.FeatureDetector.csproj.user
AutoChart.ImageCorrector/bin
AutoChart.ImageCorrector/obj
AutoChart.ImageCorrector/AutoChart.ImageCorrector.csproj.user
AutoChart.SampleCollector/bin
AutoChart.SampleCollector/obj
AutoChart.SampleCollector/AutoChart.SampleCollector.csproj.user
AutoChart.SampleVisualizer/bin
AutoChart.SampleVisualizer/obj
AutoChart.SampleVisualizer/AutoChart.SampleVisualizer.csproj.user
AutoChart.TimelineBuilder/bin
AutoChart.TimelineBuilder/obj
AutoChart.TimelineBuilder/AutoChart.TimelineBuilder.csproj.user
AutoChart.AudioExtractor/bin
AutoChart.AudioExtractor/obj
AutoChart.AudioExtractor/AutoChart.AudioExtractor.csproj.user
AutoChart.ChartWriter/bin
AutoChart.ChartWriter/obj
AutoChart.ChartWriter/AutoChart.ChartWriter.csproj.user
AutoChart.RhythmRecorder/bin
AutoChart.RhythmRecorder/obj
AutoChart.RhythmRecorder/AutoChart.RhythmRecorder.csproj.user
AutoChart.TableWriter/bin
AutoChart.TableWriter/obj
AutoChart.TableWriter/AutoChart.TableWriter.csproj.user
AutoChart.KataWriter/bin
AutoChart.KataWriter/obj
AutoChart.KataWriter/AutoChart.KataWriter.csproj.user
